@{
    ViewBag.Title = "Activation Account ^_^";
}

<h2>Activate Account</h2>

@if (ViewBag.Message == "Account activated!")
{
    <div class="alert alert-success">
        <strong>Success!</strong>  Your account has been activated successfully.
    </div>
}
else
{
    <div class="alert alert-danger">
        <strong>Error!</strong>@ViewBag.Message
    </div>
}